<% if @book.errors.any? %>
  <% @book.errors.full_messages.each do |error| %>
    <p class="alert alert-danger"><strong><%= error %></strong></p>
  <% end %>
<% end %>

<%= form_for @book do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :year %>
    <%= f.select :year, (1900..Date.today.year), {prompt: true}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :author %>
    <%= f.collection_select :author_id, Author.all, :id, :full_name, {prompt: true},  {class: "form-control"} %>
  </div>

  <div class="">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
