<!DOCTYPE html>
<html>
<head>
  <title>Bookshelf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav>
    <%= link_to "Books", "/books" %>
    <%= link_to "New Book", "/books/new" %>
    <%= link_to "Authors", "/authors" %>
    <%= link_to "New Author", "/authors/new" %>
  </nav>
</header>
<div class="container">
  <%= yield %>
  
</div>

</body>
</html>
